In [13]:
#Write a Python program to find sum of elements in list?
sum=0
l=[1,2,3,4,5]
for i in range(0,len(l)):
  sum=sum+l[i]
print(sum)

15

In [17]:
#Write a Python program to  Multiply all numbers in the list?
sum=1
l=[1,2,3,4,5]
for i in range(0,len(l)):
  sum=sum*l[i]
print(sum)

120

In [27]:
#Write a Python program to find smallest number in a list?
l=[1,2,3,4,5]
l.sort()
print('The smallest no is ',*l[:1])

The smallest no is  1

In [28]:
#Write a Python program to find largest number in a list?
l=[10,11,0,12,1]
l.sort()
print('The largest no is ',l[-1])

The largest no is  12

In [31]:
#Write a Python program to find second largest number in a list?
l=[55,41,78,35]
l.sort()
print('The second largest no is ',l[-2])

The second largest no is  55

In [36]:
#Write a Python program to find N largest elements from a list?
def Nmaxelements(l, N):
	final_list = []
	for i in range(0, N):
		max1 = 0
		for j in range(len(l)):	
			if l[j] > max1:
				max1 = l[j]
		l.remove(max1);
		final_list.append(max1)
	print(final_list)
l= [100,157,895,412,789]
N = 2
Nmaxelements(l, N)

[895, 789]

In [44]:
#Write a Python program to print even numbers in a list?
l=[55,44,72,35,68]
for i in l:
  if i%2==0:
    print(i)

44
72
68

In [46]:
#Write a Python program to print odd numbers in a List?
l=[44,43,57,98,74,55]
for i in l:
  if i%2!=0:
    print(i)

43
57
55

In [48]:
#Write a Python program to Remove empty List from List?
l=[[], 10, [], 33, [], 9]
res = list(filter(None, l))
print (str(res))

[10, 33, 9]

In [49]:
#Write a Python program to Cloning or Copying a list?
def clone(a):
  copy_a=[]
  copy_a.extend(a)
  return copy_a
a=[1,10,25,36,72]
b=clone(a)
print('original list is ',a,' clone list is ',b)

original list is  [1, 10, 25, 36, 72]  clone list is  [1, 10, 25, 36, 72]

In [56]:
#Write a Python program to Count occurrences of an element in a list?
def occ(l_,x):
  count=0
  for i in l_:
    if (i==x):
      count=count+1
  return count
l_=[1,0,2,0,44,5,6,7,8,9,0,14,22]
x=0
print('{} has occurred {} times'.format(x, occ(l_, x)))

0 has occurred 3 times